1`.0+

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 115%;
    background-image: url("../images/bookstoleft.avif");
    font-weight: bold;
    margin: 0 auto;

}

body {
    background-image: url("../images/abpink.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .menu   {
    background-image: url("../images/pinksunset.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: teal;
  }

  .nav-link span {
    color: teal;
    font-weight: bolder;
    font-size: large;
    text-shadow: 1px 1px 3px  rgb(17, 15, 15);
  }

  div .carousel {
    margin:25%;
    padding: 0;
  }

  button  {
   transform-origin: 50% bottom;
  }


  div #carouselExampleCaptions {
    width: 15cm;
    padding: 5%;
  }

  #carouselExampleCaptions {
    margin-top: 5%;
  }

#certnames {
  font-size: larger;
}

aside {
  width: 20%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

#aboutme {
  margin: 5%;
  padding-bottom: 5%;
}